version: 2.1
orbs: 
  node: circleci/node@5.3.0
jobs:
  demo-deploy:
    executor: node/default
    steps:
      - checkout
      - node/install-packages
      - run:
          name: Prepare demo directory for deployment
          command: npm run prep-demo
      - run:
          name: Install and configure gh-pages
          command: |
            npm install --silent gh-pages@4
            git config user.email "ci-build@circleci.invalid"
            git config user.name "ci-build"
      - add_ssh_keys:
          fingerprints:
            - "76:60:0a:21:89:22:77:02:da:34:9f:07:36:a8:2d:15"
      - run:
          name: Deploy demo to gh-pages branch
          command: node_modules/.bin/gh-pages --dist demo --message "[skip ci] Update demo page"

workflows:
  build:
    jobs:
      - node/test
      - demo-deploy:
          requires:
            - node/test
          filters:
            branches:
              only: main
